*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    display: flex;
    height: 9vh;
    width: 100%;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 23px 15px;
    position: fixed;
    font-size: 25px;
    z-index: 1;
}

ul{
    padding: 15px;
}

li{
    display: inline;
    padding: 20px;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    height: 20px;
        padding: 8px 12px;
    border-radius: 5px;
}

li a:hover{
    background-color: white;
    color: black;
}


main{
    background-color: red;
    color: black;
    height: 90vh;
    padding: 110px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}